<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./../../../assets/images/imagem1.jpg" alt="Empresario com tablet">
        </div>
        <div class="carousel-caption">
            <h2>Gerencie sua empresa</h2>
            <h5>Oferecemos soluçoes de segurança e monitoramento, assim como configuração de servidores Windows e Linux (Firewall, Arquivos, Active Directory, Web, entre outros)</h5>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./../../../assets/images/imagem2.jpg" alt="Empresarios dialogando sobre estratégias">
        </div>
        <div class="carousel-caption">
            <h2>Reparo e manutenção de computadores/notebooks</h2>
            <h5>Oferecemos as melhores marcas como Corsair, Thermaltake, AMD, Intel, entre outras para garantir que seu equipamento esteja sempre funcionando</h5>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./../../../assets/images/imagem3.jpg" alt="Redes de computadores. 3 computadores sendo exibidos">
        </div>
        <div class="carousel-caption">
            <h2>Configuraçao de redes de computadores</h2>
            <h5>Oferecemos equipamentos e serviços para que seu acesso seja contínuo e seguro</h5>
        </div>
    </ng-template>
</ngb-carousel>