<section
id="partners"
  class="container-fluid text-center py-5 bg-dark text-white"
>
  <div class="row">
    <div class="col-12">
      <h2>Nossos clientes em Petrópolis</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 px-0 mt-lg-5">
      <swiper-container id="swiperContainerPartners" autoplay="true">
        <swiper-slide>
          <img class="img-fluid" src="assets/images/partners/01.png" />
          <h5>Centro Médico Louis Pasteur</h5>
        </swiper-slide>
        <swiper-slide
          ><img class="img-fluid" src="assets/images/partners/02.jpg" />
          <h5>Frango Creave</h5></swiper-slide
        >
        <swiper-slide
          ><img class="img-fluid" src="assets/images/partners/03.jpg" />
          <h5>Imperial Administração e Contabilidade Ltda.</h5></swiper-slide
        >
        <swiper-slide
          ><img class="img-fluid" src="assets/images/partners/04.png" /><h5>Spoleto</h5>
          </swiper-slide
        >
        <swiper-slide
          ><img class="img-fluid" src="assets/images/partners/05.png"
        /><h5>Domino´s Pizza</h5></swiper-slide>
        
      </swiper-container>
    </div>
  </div>
</section>
