<div class="jumbotron jumbotron-fluid bg-light mb-0" id="servicos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-center text-light pb-md-5">Serviços</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Computadores/Notebooks</h5>
                        <p class="card-text">Realizamos serviços de manutenção/reparo, instalação e configuração de sistemas</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Servidores</h5>
                        <p class="card-text">Consultoria para aquisição, manutenção e configuração em ambientes Windows e Linux</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Redes de computadores</h5>
                        <p class="card-text">Instalação, configuração e manutenção. Estruturação e consultoria</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md-4 offset-md-4 mt-md-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Contratos</h5>
                        <p class="card-text">Podemos nos tornar seu parceiro, oferecendo diversos serviços associados a um contrato para que você tenha sua empresa sempre funcionando, sem sustos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>