<div class="jumbotron jumbotron-fluid bg-white mb-0" id="contato">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-md-6 border-right">
                <img class="img-fluid" src="./../../../assets/images/imagem4.jpg" alt="Imagem de cumprimento entre duas pessoas" />
                <h5>Entre em contato conosco e garanta que seus ativos de TI continuem funcionando, com profissionais competentes e capacitados</h5>
            </div>
            <div class="col-12 col-md-6">
                <div id="contato__info">
                    <h4><span class="fa fa-envelope" aria-hidden="true"></span> contato@mskinformatica.com.br</h4>
                    <h4><span class="fa fa-whatsapp" aria-hidden="true"></span> (24)99263-1554</h4>
                    <h4><span class="fa fa-map-marker" aria-hidden="true"></span> Petrópolis, Rio de Janeiro</h4>
                </div>
            </div>
        </div>
        
    </div>
</div>