<div class="container mt-md-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="display-4">Seus dados</p>
        </div>

        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid" *ngIf="dadosCliente">
                        <div class="row">
                            <div class="col-12">
                                <b>Nome: </b>{{dadosCliente.nome_cliente}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <b>Email:</b> {{dadosCliente.email}}
                            </div>
                        </div>

                        <div class="row" *ngIf="dadosCliente.cpf !== null">
                            <div class="col-12">
                                <b>CPF:</b> {{dadosCliente.cpf}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <b>Tipo Pessoa:</b> {{dadosCliente.tipoPessoa}}
                            </div>
                        </div>

                        <div class="row" *ngIf="dadosCliente.cnpj !== null">
                            <div class="col-12">
                                <b>CNPJ:</b> {{dadosCliente.cnpj}}
                            </div>
                        </div>

                        <div class="row" *ngIf="dadosCliente.razaoSocial">
                            <div class="col-12">
                                <b>Razão Social:</b> {{dadosCliente.razaoSocial}}
                            </div>
                        </div>

                        <div class="row" *ngIf="dadosCliente.inscricaoEstadual">
                            <div class="col-12">
                                <b>Inscrição Estadual:</b> {{dadosCliente.inscricaoEstadual}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <b>CEP:</b> {{dadosCliente.cep}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <b>Endereco:</b> {{dadosCliente.endereco}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <b>Bairro:</b> {{dadosCliente.bairro}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <b>Cidade:</b> {{dadosCliente.cidade}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <b>Estado:</b> {{dadosCliente.estado}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <b>Contato:</b> {{dadosCliente.contato}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-warning btn-block" type="button" (click)="editaCliente()">Alterar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>