<section class="container p-5" id="services">
    <div class="row">
        <div class="col">
            <h2 class="mb-5">Nossos Serviços</h2>
        </div>
    </div>
    <div class="row">
        
        <div class="col-12 col-md-4">
            <div class="card custom-width">
                <div class="card-header bg-primary text-light">
                    <h3>Manutenção de Computadores</h3>
                </div>
                <div class="card-body">
                    <p>Potencialize a performance dos seus dispositivos! Conte com nossa expertise em manutenção de computadores para garantir o máximo desempenho e confiabilidade. Deixe seus equipamentos em boas mãos e mantenha sua produtividade em alta. Saiba mais sobre nossos serviços de manutenção hoje mesmo!</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    <h3>Implantação de redes de computadores</h3>
                </div>
                <div class="card-body">
                    <p>Construa uma base sólida para a comunicação digital do seu negócio! Nossa equipe especializada está pronta para cuidar da implantação da sua rede de computadores, garantindo uma conexão estável e eficiente. Otimize a troca de informações e fortaleça a infraestrutura tecnológica da sua empresa. Entre em contato conosco e leve sua rede para o próximo nível!</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    <h3>Instalação de servidores Windows/Linux</h3>
                </div>
                <div class="card-body">
                    <p>Fortaleça sua infraestrutura com servidores robustos e confiáveis! Nossa equipe especializada oferece serviços de instalação de servidores Windows e Linux para impulsionar a performance e segurança dos seus sistemas. Conte conosco para configurar e otimizar seus servidores, garantindo uma operação fluída e eficiente. Entre em contato e leve sua empresa para o próximo patamar tecnológico!</p>
                </div>
            </div>
        </div>
    </div>
</section>