<section class="container p-5" id="services" >
    <div class="row">
        <div class="col">
            <h2 class="mb-5">Nossos Serviços</h2>
        </div>
    </div>
    <div class="row">
        
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h3 class="mb-0">Computadores</h3>
                </div>
                <div class="card-body d-flex align-items-center">
                    <ul class="list-unstyled">
                        <li>Vendas</li>
                        <li>Manutenção</li>
                        <li>Reparos</li>
                        <li>Instalação</li>
                        <li>Configuração</li>

                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <img src="assets/images/brands/dell.svg" class="img-fluid" />
                    <img src="assets/images/brands/samsung.png" class="img-fluid" />
                    <img src="assets/images/brands/acer.jpg" class="img-fluid" />
                    <img src="assets/images/brands/lenovo.svg" class="img-fluid" />
                    <img src="assets/images/brands/positivo.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-3 mt-md-0">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h3 class="mb-0">Redes de computadores</h3>
                </div>
                <div class="card-body d-flex align-items-center">
                    <ul class="list-unstyled">
                        <li>Instalação</li>
                        <li>Configuração</li>
                        <li>Projetos</li>
                        <li>Suporte</li>
                        <li>Monitoramento</li>
                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <img src="assets/images/brands/intelbras.jpg" class="img-fluid" />
                    <img src="assets/images/brands/tplink.jpg" class="img-fluid" />
                    <img src="assets/images/brands/ubiquiti.png" class="img-fluid" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-3 mt-md-0">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h3 class="mb-0">Servidores</h3>
                </div>
                <div class="card-body d-flex align-items-center">
                    <ul class="list-unstyled">
                        <li>Instalação</li>
                        <li>Configuração</li>
                        <li>Venda</li>
                        <li>Suporte</li>
                        <li>Sistemas Windows/Linux</li>
                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <img src="assets/images/brands/microsoft.png" class="img-fluid" />
                    <img src="assets/images/brands/linux.png" class="img-fluid" />
                    <img src="assets/images/brands/pfsense.png" class="img-fluid" />
                    <img src="assets/images/brands/ubuntu.svg" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>