<nav class="navbar navbar-expand-lg bg-white border-bottom p-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#home">MSK Informática</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu"
      aria-controls="navbarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" [ngbScrollSpyMenu]="s">
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true" aria-current="page" href="#home" ngbScrollSpyItem="home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true" href="#partners" ngbScrollSpyItem="partners">Parceiros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true" href="#services" ngbScrollSpyItem="services">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true" href="#contact" ngbScrollSpyItem="contact">Contato</a>
        </li>
      </ul>
      <div class="d-flex">
        <img src="assets/images/logo.jpg" alt="logo" class="img-fluid custom-height rounded-circle d-none d-xl-block" />
      </div>
    </div>
  </div>
</nav>
