<div class="jumbotron jumbotron-fluid bg-light mb-0">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <img src="./../../../assets/images/bonecomsk.png" />
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="display-4">Sobre a empresa</h1>
        <p class="lead">A MSK Informática é uma empresa com mais de 15 anos de mercado, oferecendo tecnologias de monitoramento, segurança e mantendo os ativos de sua casa/empresa sempre funcionais, prontos para uso.</p>
    </div>
</div>