<section id="home" class="container-fluid custom-height d-flex align-items-center p-xl-3 p-xxl-5 custom-top-padding-mobile">
  <div class="row">
    <div class="col-12 col-lg-5 d-flex custom-margin-top justify-content-around justify-content-xl-center justify-content-xl-start custom-margin-vertical-mobile mb-xl-0">
      <img
        class="img-fluid rounded-circle custom-width-img-banner expand-effect-breath"
        src="assets/images/banner-1.jpg"
        alt="logo"
      />
      <img
        class="img-fluid rounded-circle custom-width-img-banner expand-effect-breath"
        src="assets/images/banner-2.jpg"
        alt="logo"
      />
      <img
        class="img-fluid rounded-circle custom-width-img-banner expand-effect-breath"
        src="assets/images/banner-3.jpeg"
        alt="logo"
      />
    </div>
    <div
      class="col-12 col-lg-7 p-lg-5 fw-bold d-flex align-items-start justify-content-center flex-column px-3"
    >
      <h1 class="fw-bold pt-0 pt-md-3 pt-lg-0 custom-font-size-mobile">Seu parceiro de TI</h1>
      <h2 class="pt-3 py-lg-4">
        Com + de 10 anos no mercado, oferecemos expertise em soluções
        tecnológicas para sua empresa. Com serviços como vendas e
        manutenção de computadores, design e instalação de redes, instalação e
        configuração de servidores Windows e Linux, entre outros, você terá acesso ao melhor atendimento da cidade. Conheça nosso atendimento
        personalizado
      </h2>
      <a href="#contact" class="btn btn-primary btn-lg mt-3 mt-xl-0">Contate-nos</a>
    </div>
  </div>
</section>
