<section class="container-fluid custom-height d-flex align-items-center p-5">
  <div class="row">
    <div class="col-12 col-lg-5">
      <img
        class="img-fluid rounded-circle"
        src="assets/images/banner-1.jpg"
        alt="logo"
      />
    </div>
    <div
      class="col-12 col-lg-7 p-lg-5 fw-bold d-flex align-items-start justify-content-center flex-column"
    >
      <h1 class="fw-bold">Seu parceiro de TI</h1>
      <h2 class="py-lg-4">
        Com + de 10 anos no mercado, oferecemos expertise em soluções
        tecnológicas para sua empresa. Oferecemos serviços como vendas e
        manutenção de computadores, design e instalação de redes, instalação e
        configuração de servidores Windows e Linux. Conheça nosso atendimento
        personalizado
      </h2>
      <button class="btn btn-primary">Entre em contato</button>
    </div>
  </div>
</section>
